---
layout: layouts/home.njk
---

<h1 class="sr-only">Contact me</h1>
<div class="contact-page">
    <div class="contact-page--max-width">
        <div class="contact-page--section contact-page--grid">
            <h2>CAA</h2>
            <p>
                Features/TV.<br/>
                Lily Fettis Green<br/>
                +1 424.288.3445<br/>
                lily.fettisgreen@caa.com
            </p>
            <div>
                <p> 
                    Commercials.<br/>
                    Hilary McQuaide<br/>
                    +1 424.288.3438<br/>
                    hilary.mcquaide@caa.com
                </p>
                <p>
                    Erin Randol<br/>
                    +1 424.288.3493<br/>
                    erin.randol@caa.com
                </p>
            </div>
        </div>
        <div class="contact-page--section contact-page--grid">
            <h2>Direct</h2>
            <p>
                Email.<br/>
                <a href="mailto:jonpeterdp@gmail.com">jonpeterdp@gmail.com</a>
            </p>
            <p>
                Instagram.<br/>
                <a href="https://instagram.com/jonpeterdp">@jonpeterdp</a>
            </p>
        </div>
        <div class="contact-page--section">
            <h2>Experience Across</h2>
            <p>Canada, China, Corsica, Croatia, Czech Republic, France, Germany, Malaysia, Mexico, Nepal, Romania, Spain, Ukraine, United Kingdom, United States</p>
        </div>
    </div>
</div>
