---
eleventyComputed:
  title: Tagged “{{ tag | titleify }}”
permalink: /{{ tag | slugify }}/
layout: layouts/home.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
  addAllPagesToCollections: true
---

{% set posts = collections.all | postsForTag(tag) %}
{% include "tagList.njk" %}
