{% for post in posts %}
  <div class="cover-photo">
    <div class="cover-photo--overflow">
        <img alt="" src="{{ post.data.imageUrl }}" />
    </div>
    <a href="{{ post.data.page.url }}">
        <span>
            {{ post.data.title }}
            {% if post.data.subtitle %}
            <span class="cover-photo--subtitle">
                {{ post.data.subtitle }}
            </span>
            {% endif %}
        </span>
    </a>
  </div>
{% endfor %}
