---
title: Jon Peter. Director of Photography
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/main.css' }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Cormorant+Infant:wght@400;700&family=EB+Garamond:wght@400;700&display=swap" rel="stylesheet">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {{ content | safe }}
    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
    </script>
  </body>
</html>